!vendor/gems/cache/
*.gem
*.rbc
.*.sw*
.DS_Store
.dat*
.repl_history
.ruby-gemset
.ruby-version
.rvmrc
.sass-cache/*
/.bundle/
/.config
/.yardoc/
/InstalledFiles
/_yardoc/
/coverage/
/doc/
/lib/bundler/man/
/pkg/
/rdoc/
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
bin/*
build/
db/*.db
log/**/*
tmp/**/*
vendor/gems/*
