<html>
  <head>
    <title>Snippets API</title>
  </head>
  <body>
    <h1>Snippets API.</h1>
    <p><%= nice_num @snippets.count %> <%= pluralize 'snippet', @snippets.count %>.</p>
  </body>
</html>
